<launch>
	<param name="/use_sim_time" value="true" />

  	<arg name="model" default="$(find irs)/urdf/robot.urdf"/>
  	<!-- <arg name="gui" default="true" /> -->
  	<arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
	<arg name="x_pos" value="0" />
	<arg name="y_pos" value="0" />
	<arg name="z_pos" value="0" />

	<!-- param describing robot description, essential -->
  	<param name="robot_description" textfile="$(find irs)/urdf/robot.urdf" />

	<!--  -->
  	<!-- <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

	<!-- publishes Joint STates messages for robot, reference robot_description paramter from parameter server -->
  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

	<!--  this line converts joint states to TF transforms for RVIZ -->
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


    <!-- gazebo launch -->
	<!-- gazebo world launch details -->
	<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    
	<!-- modify gazebo environment variables -->
    <env name="GAZEBO_MODEL_PATH" value="$(find irs)/models"/>
    
	<!-- Insert Gazebo variables -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find irs)/worlds/irs_world.world"/>
        
		<!-- more default parameters can be changed here -->
		<arg name="paused" value="false"/>
    	<arg name="use_sim_time" value="true"/>
    	<arg name="gui" value="true"/>
    	<arg name="headless" value="false"/>
    	<arg name="debug" value="false"/>
    </include>
</launch>